
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: bisque;
  }
  



  .container {
    position: relative;
    width: 40%;
    height: 70%;
    margin-bottom: 190px;
  }
.container-nav{

display: block;
position: relative;
margin-left: 1%;
text-align: center;
}

.container-nav .logo {

margin-left: 15px;

}
.nav-links{

  font-weight: bold;

  text-decoration: none;
  margin: 0px;
  list-style: none;
}
.nav-links a {
  color: black;
  text-decoration: none; 
}



  .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: rgb(255, 241, 196); /
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    z-index: 1;
  }

  .boxtext{
display: flex;
    position: absolute;
    top: 60px;
    left: 60px;
    right: 60px;
    bottom: 60px;
    background-color: #E3D6AF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    z-index: 1;

  }

  
.containerinner{
margin-top: 20px;
    position: relative;
    width: 100%;
    height: 30%;

}


.textarea-custom {

    position: absolute;
    top: 60px;
    left: 60px;
    right: 60px;
    bottom: 60px;
    background-color: #E3D6AF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    z-index: 1;
outline: none;
border: none;             
resize: none;   

display: flex;
  align-items: center;     
  justify-content: center; 
  text-align: center;   
  padding-top: 5%; 
}


/* 
SEGUNDA PÁGINA */
.containersobre{
display: block;

position: relative;
margin-right: 700px;

}

.all {
    display: flex;
    justify-content: space-between;
}

.racas {
    width: 48%; /* Ajusta a largura para ocupar metade do espaço */
}

.racas ul{

  list-style: none;
  
  }

.racaobj {
    background-color: #f2f2f2; /* Exemplo de estilo para os objetos */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}